{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static "about.css" %}">
</head>

<body>
    <div class="about-container">
        <div class="about-header">
            <h1>About Us</h1>
            <p>Your story starts here</p>
        </div>
        <div class="about-content">
            <div class="about-text">
                <h2>Our Mission</h2>
                <p>At Planify, we strive to deliver the best products to our customers. Our mission is to create value
                    and make a difference in the world. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium expedita labore molestias sapiente voluptates optio natus sint recusandae dicta et ea
                    perferendis, eum tempore rerum, possimus nobis nostrum iste est aspernatur reprehenderit. Mollitia,
                    repellat, deserunt ut corrupti eaque accusantium vel impedit, pariatur facere deleniti nobis facilis
                    vitae reiciendis aperiam quos sint? Tenetur laudantium voluptatibus illum maiores earum facere?
                    Ratione at natus, aliquam non voluptatibus nulla facilis sapiente sint, ducimus corporis distinctio
                    recusandae. Quo distinctio excepturi dolorem voluptas repudiandae! Accusantium ipsa nulla dolorem at
                    repudiandae unde, eos temporibus ipsam minima quia voluptas officia! Voluptatem impedit accusantium
                    omnis consequatur dolores nemo magni!</p>
                <h2>Our Team</h2>
                <p>We are a diverse team of professionals dedicated to excellence and innovation. We believe in
                    teamwork, integrity, and the power of collaboration. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quae expedita natus molestias voluptates aliquid quo voluptas amet vel itaque?
                    Minus, sunt. Qui blanditiis quidem nisi reprehenderit vel, sunt est nulla quas dolorem, non expedita
                    suscipit at odio? Nulla distinctio architecto repellendus tempore, libero, natus, a ipsum enim
                    molestias iusto quo.</p>
                <h2>Contact Us</h2>
                <p>If you have any questions or would like to learn more about us, feel free to reach out. We're here to
                    help! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi dolorum placeat libero quae
                    labore minima adipisci repudiandae, alias reiciendis voluptate dolores ad neque, rem voluptatum odio
                    cumque possimus illo, aut nisi. Molestias et labore nam facere ratione magni aperiam deleniti
                    dolorum doloremque ipsa, repudiandae veritatis! Quidem vitae explicabo sapiente fugit.</p>
            </div>
        </div>
    </div>
</body>

</html>